{
	"$schema": "https://json.schemastore.org/prettierrc.json",
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"jsxSingleQuote": false,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"printWidth": 88,
	"proseWrap": "preserve",
	"plugins": ["prettier-plugin-tailwindcss"],
	"quoteProps": "as-needed",
	"semi": false,
	"singleQuote": false,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true
}
